@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 70px;

  // .logo {
  //   position: absolute;
  //   top: 50%; left: 70px;
  //   font-size: 80px;
  //   font-family: 'Caveat Brush', cursive;
  //   @include translateY(-50%);
  // }
  nav,
  nav ul,
  nav ul li {
    margin:0;
    padding:0;
    white-space:nowrap;
    overflow:hidden;
  }
  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      display: inline-block;
      margin-right:10px;
      padding:10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 30px;
        font-family: 'Caveat Brush';
        line-height: normal;
        color: $white;
        text-decoration: none;
        @include transition(.2s ease-in-out);
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: $blueGreen;
          @include transition(.2s ease-in-out);
        }
      }
    }
  }
}

body {
  height: 2000px;
  background: $white;
  h1 {
    font-family: 'Rock Salt';
    margin-top: 50px;
    margin-left: 100px;
    font-size: 50px;
  }
  p {
    display: flex;
    margin-bottom:70px;
    white-space:nowrap;
    overflow:hidden;
  }
  p1 {
    margin-top: 30px;
    margin-Left: 130px;
  }
  p2 {
    font-family: 'Ubuntu', sans-serif;
    color: $darkGrey;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 80px;
    height: 10px;

  }
  p3 {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 150px;
  }
  p5 {
    display:flex;
    margin-top: 30px;
    margin-left:125px;
  }
  p4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left:50px;
    margin-top:20px;
    line-height: 30px;
    color: $lightGrey;
  }
}
footer {
  height:100%;
  background: $black;
}
