@import "_config.scss";

header {
  position: relative;
  display: inline-block;
  width: 100%;
  background: $white;
  color: $white;
  height: 60px;
  border-bottom-style: solid;
  border-bottom-width: thin;

  // .logo {
  //   position: absolute;
  //   top: 50%; left: 70px;
  //   font-size: 80px;
  //   font-family: 'Caveat Brush', cursive;
  //   @include translateY(-50%);
  // }
  nav,
  nav ul,
  nav ul li {
    white-space:nowrap;
    overflow:hidden;
  }
  nav {
    position: absolute;
    top: 50%; right: 15px;
    margin-top:10px;
    @include translateY(-50%);

    ul li {
      display: inline-block;
      margin-right:10px;
      padding:10px;


      &.last {
        margin: 0;
      }

      a {
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        line-height: normal;
        color: $black;
        text-decoration: none;
        @include transition(.01s ease-in-out);
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: $blueGreen;
          @include transition(.01s ease-in-out);
        }
      }
    }
  }
}

body {
  height: 800px;
  background: $white;
  overflow-x: hidden;
  p {
    width: 60%;
    // display: inline-block;
    // text-align: center;
    // margin-bottom:70px;
    white-space:nowrap;
    // margin-left:80px;
    // margin-right: 80px;
    // padding-bottom:50px;
  }
    p1 {
      font-family: 'Ubuntu', sans-serif;
      width: 50%;
      // margin-top: 100px;
      // padding-left: 70px;
      font-size: 50px;
      color: $black;
      a {
        font-size: 40px;
        color: $black;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: $blueGreen;
          @include transition(.01s ease-in-out);
        }
      }
    }
    p2 {
      display: block;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      color: $lightGrey;
      font-size: 20px;
      margin-top: 30px;
      height: 150px;
      line-height:35px;
      position: absolute;

      u1 {
        color: #FF3300;
        &:hover{
          text-decoration: underline;
          color: #FF9966;
          @include transition(.01s ease-in-out);
        }
      }
      u2 {
        color: #9933FF;
        &:hover{
          text-decoration: underline;
          color: #CC99FF;
          @include transition(.01s ease-in-out);
        }
      }
      u3 {
        color: #3366FF;
        &:hover{
          text-decoration: underline;
          color: #0099FF;
          @include transition(.01s ease-in-out);
        }
      }
      u4 {
        color: #228B22;
        &:hover{
          text-decoration: underline;
          color: #32CD32;
          @include transition(.01s ease-in-out);
        }
      }
    }
  p3 {
    display: flex;
    margin-left:100px;
    // font-size: 30px;
    // font-family: 'Ubuntu', sans-serif;
    // margin-left: 100px;
    margin-top: 200px;

    .mammoth {
      margin-right: 50px;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
    // .text1{
    // 	width:340px;
    // 	height:217px;
    // 	color:$black;
    // 	opacity:1;
    // }
    // .mammoth:hover .text1 {
    // 	opacity:1;
    // 	text-align:justify;
    // 	color:$black;
    // 	font-size:20px;
    // 	font-weight:700;
    // 	font-family:"Times New Roman", Times, serif;
    // 	padding:30px;
    // }
    .google {
      margin-right: 50px;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
    .blueprint {
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  p4 {
    display: block;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  p5 {
    display: block;
    margin-top: 1px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  p6 {
    display: block;
    margin-top: 1px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: $lightGrey;
    font-size: 15px;
  }
  .captions {
    ul,
    ul li {
      margin-top: 10px;
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
      white-space:nowrap;
      overflow:hidden;
      display: inline-block;
      margin-left:65px;
      padding-right:180px;

      .blueprint_cap {
        margin-left:100px;
      }

    }
  }
  .card {
    background-color: #F6F6F6;
    border: none;
    border-radius: 25px;
    &:hover {
      background-color: #F0F0F0;
    }
  }
  .card-img-top {
    border-radius: 20px;
  }
  .down-arrow {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-bottom: 0px;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
// footer {
//   height:100%;
//   background: $black;
// }
